{% extends 'app.twig' %}

{% block content %}

<div id="root">
    <app :auth={{ auth.check }} :channels={{ auth.user.channels | keys | json_encode }}
        :frequencies="{{ frequencies | json_encode }}" :csrf="{{ csrf.data | json_encode }}" />
</div>
{% endblock %}