{% extends 'app.twig' %}

{% block content %}

<div id="root">
    {% include "includes/_header.twig" %}
    <reminder-list :frequencies="{{ frequencies | json_encode }}" :csrf="{{ csrf.data | json_encode }}"></reminder-list>
</div>
{% endblock %}